@media only screen and (max-width: 1200px) {

  :root {
    overflow-x: hidden!important;
  }

  .Tabs {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
    max-width: unset;
}

  .HeaderTabs li {
    position: unset;
}
.bg-purple{
  width: 100%;
 width: 106%;
  margin: 0 -13px;
}

.card-s{
  width: 90%;
}

.card-s {
  width: 100%;
}

  .bg-purple {
    width: 106%;}

    .footer-right {
      margin-left: 117px;
  }
  .contact-submit {
    background-color: #a950ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
    margin-left: 87px;
}
.menu-toggle {
  display: block;
}

.HeaderTabs {
  display: none; 
  flex-direction:row; 
  position: absolute;
  top:152px;
  right: 0;
  left: 30px;
  width: 100%;
  padding: 10px 0;

}

.HeaderTabs li {
  margin: 10px 0;
}

.HeaderTabs.active {
  display: flex; 
}
.Tabs {
  position: absolute;
  display: flex
;
  top: 50px;
  left: 0;
  background: #fffefe;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: max-content;
  height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 1000;
  max-width: 800px;
  padding: 40px;
}
.TabsInner {
display: flex;
flex-wrap: wrap;
flex-direction: column;
}
.TabImage img {
max-width: 129%;
  height: auto;
border-radius: 5px;
padding: 0;
margin-left: 20px;
}
.TabImage {
border-radius: 8px;
display: flex;
align-items: center;
justify-content: center;
width: 78%;
height: fit-content;
aspect-ratio: 1 / 0.8;
margin-left: 18px;
}
.Hero-Section {
  background-color: #492282;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: 2;
  }
  .slidvid {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}
.fa-angle-down:before {
  content: "\f107";
  position: relative;
  left: 110px;
}
.content-card {
  background-color: #21104e;
  border-radius: 15px;
  padding: 18px;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}
.f-card {
    background-color: #482281;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.f-card-image img {
  width: 100%;
  height: max-content;
}
.ro-image {
  margin: 21px auto;
}
.cont-ro {
  display: flex;
  justify-content: flex-start;
}
.colum-con {
  margin-top: -29px;
}
}





